<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    <% include partials/header.ejs %>
</head>


<body class="home page page-id-15 page-template-default">

    <% include /partials/catBodyHead.ejs %>

        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
        <!--start wrapper-->
        <div id="wrapper" style="display: block;">


            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                        <img src="/page/finearts/classicalArtsBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="/page/finearts/artivalBan.jpg" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        <img src="/page/finearts/twoTonesBan.jpg" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        <img src="/page/finearts/paintOdysseyBan.jpg" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                    </div>

                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section odd desktop">
                <div class="bgOfAbout"></div>
                <div class="content clearfix">
                    <!-- content Box Start  -->

                    <div class="section-title">
                        <h2>Fine <span>Arts </span></h2>
                    </div>


                    <div class="column_one_third  last tl" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="artival">
                                <!-- add event name here in -->
                                <a title="Carnival Of Art" class="lightbox" href="#">
                                    <img class="roundImage " href="#" src="/page/finearts/artival.png" alt="ARTIVAL">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Artival</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last tr">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="paintOdyssey">
                                <!-- add event name here in -->
                                <a title="Paint Odyssey" class="lightbox" href="#">
                                    <img class="roundImage " href="#" src="/page/finearts/paintOdyssey.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Paint <span>Odyssey</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/634340833343828/?context=create&previousaction=create&source=49&sid_create=2572533557" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last bl">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="biChromaticPainting">
                                <!-- add event name here in -->
                                <a title="Bi-Chromatic Painting" class="lightbox" href="#">
                                    <img class="roundImage " href="#" src="/page/finearts/twoTones.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Two<span>Tones</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/794234540624021/?context=create&previousaction=create&source=49&sid_create=1750108684" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last br">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" href="#" id="imaginacia">
                                <!-- add event name here in -->
                                <a title="Classical Painting" class="lightbox" href="#">
                                    <img class="roundImage " src="/page/finearts/classicalArts.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Imagi<span>nacia</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/1522053194735997/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>


                    <div style="clear:both;"></div>

                    <style>
                        .bl {
                            margin-left: 210px;
                        }
                    </style>

                </div>
                <!-- content Box End  -->
            </div>



        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano">
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton">&#215;</span>
        </div>
        <div class="modalR modal"><span class="registertxt">Register Here</span>
            <a href="#" class="pe-7s-note2 registerbtn" type="Acoustic Hyms"></a>
            <div class="bgRulesForModalR"></div>
            <div class="subbtncontainer"><span><a  href="https://docs.google.com/a/iiitd.ac.in/forms/d/12DnX-ffkJbcYfp8VGR3sPDB1-nYZKHQE7fi0sEkF-GI/viewform" class="pe-7s-note2 sub_registerbtn"></a>Arty<br>Graffiti</span><span><a  href="https://docs.google.com/a/iiitd.ac.in/forms/d/1DpxKKsMb1TslxPJLPgq__bP8gea_eCvv-r-Z9MyugA0/viewform" class="pe-7s-note2 sub_registerbtn"></a>MASK-ermind</span><span><a  href="https://docs.google.com/forms/d/1lZVqO4uBzz7m9cuSlF4sWlFExS7THgQ8EyCvun9Ywg4/viewform?usp=send_form" class="pe-7s-note2 sub_registerbtn"></a>OEKAKI<br>The Sketching Contest</span><span><a  href="https://docs.google.com/a/iiitd.ac.in/forms/d/1-D0UnXWLdXVOWw-efze3zst7B-jnNt5HHmrCwnOjABw/viewform" class="pe-7s-note2 sub_registerbtn"></a>Cartoonista<br>-Cartoon Strip</span><span><a  href="https://docs.google.com/a/iiitd.ac.in/forms/d/1Noc5OI3C9P8ji6o5Y80D-ufX65dRUbLE_-BBNIlmWfQ/viewform" class="pe-7s-note2 sub_registerbtn"></a>Paper-o-Mosaic</span>
                <br><br><a href="https://docs.google.com/a/iiitd.ac.in/forms/d/1cX3z4itzN7Yd70ZioQ3zv00zJGeSU_E8l3fuG6f7Yco/viewform" class="commonForm" style="margin-left:185px;text-decoration:underline;color:black;font-size:18px;">COMMON FORM</a>
            </div>
        </div>
        <style>
            .subbtncontainer {
                position: absolute;
                bottom: 0px;
                width: 40px;
                left: 230px;
                height: contain;
                z-index:1400;
                /*                    border: 1px solid red;*/
                opacity: 0;
            }
            .subbtncontainer>span {
                word-break: break-word;
                display: inline-block;
                height: contain;
                bottom: 142px;
                width: 18%;
                vertical-align:top;
                text-align: center;
                /*                    border: 1px solid red;*/
                -webkit-animation: colorChange;
                -webkit-animation-duration: 7s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation: colorChange;
                -moz-animation-duration: 7s;
                -moz-animation-iteration-count: infinite;
                -moz-animation-timing-function: linear;
                -ms-animation: colorChange;
                -ms-animation-duration: 7s;
                -ms-animation-iteration-count: infinite;
                -ms-animation-timing-function: linear;
                animation: colorChange;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .sub_registerbtn {
                font-size: 24px;
                display: block;
                z-index: 1500;
                bottom: 42px;
                left: 260px;
                border: 1px solid white;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 100%;
                text-align: center;
                color: white;
                background-color: black;
                opacity: 0.8;
                margin: 0 auto;
            }
            .sub_registerbtn:hover{
            border-color:#ff005a;
            color:#ff005a ; 
    
}
        </style>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
            <!--end footer-->
            <script src="/page/finearts/finearts.js"></script>
            <% include /partials/defaultJS.ejs %>
</body>

</html>