<!DOCTYPE HTML>

<html>
	<head>
		<title>Odyssey '15 | Schedule</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/mainPage/js/jquery.min.js"></script>
		<script src="/mainPage/js/jquery.poptrox.min.js"></script>
		<script src="/mainPage/js/jquery.scrolly.min.js"></script>
		<script src="/mainPage/js/jquery.scrollgress.min.js"></script>
		<script src="/mainPage/js/skel.min.js"></script>
		<script src="/mainPage/js/init.js"></script>
			<link rel="stylesheet" href="/mainPage/css/skel.css" />
			<link rel="stylesheet" href="/mainPage/css/style.css" />
			<link rel="stylesheet" href="/mainPage/css/style-wide.css" />
			<link rel="stylesheet" href="/mainPage/css/style-normal.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo"><a href="/">Odyssey</a></h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#team">Schedule</a></li>
						</ul>
					</nav>

			</header>
			
		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container 75%">
					<header>
						<h2>Schedule</h2>
<!--						<img src="./images/odysseyLogo.png" eight="210" width="478" />						-->
					</header>
					<footer>
						<a href="#team" class="button style2 down">More</a>
					</footer>
				</div>
			</section>
		
	<!--		Team-->

			<section id="team" class="main style3 primary">
				<div class="content container">
			
						<div class="container 75% gallery">
							<div class="row 0% images">

                                <div class="6u"><a href="/mainPage/images/image01.jpg" class="image fit from-right"><img src="/mainPage/images/image01.jpg" title="Day 1" alt="" /></a></div>
                                <div class="6u"><a href="/mainPage/images/image00.jpg" class="image fit from-right"><img src="/mainPage/images/image00.jpg" title="Day 2" alt="" /></a></div>
                          <!--       <div class="6u"><a href="/mainPage/images/fulls/03.jpg" class="image fit from-left"><img src="/mainPage/images/thumbs/03.jpg" title="Atul: WebDev" alt="" /></a></div>
						 -->		
							</div>
                        <!--     <div class="row 0% images">	
                            <div class="6u"><a href="/mainPage/images/fulls/02.jpg" class="image fit from-left"><img src="/mainPage/images/thumbs/02.jpg" title="Srishti: Design Head" alt="" /></a></div>
							<div class="6u"><a href="/mainPage/images/fulls/06.jpg" class="image fit from-right"><img src="/mainPage/images/thumbs/06.jpg" title="Karan: Team Page" alt="" /></a></div>
							</div>
						 --></div>

				</div>
			</section>
		
		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="https://twitter.com/IIITDOdyssey" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://www.facebook.com/odyssey.iiitd/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://plus.google.com/u/1/104513383791254663029" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="http://instagram.com/iiitdodyssey/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; IIIT Delhi</li><li><a href="team">Our Team</a></li>
					</ul>
			<style>
body::-webkit-scrollbar {
	width: 10px;
	height: 15px;
}
body::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-webkit-border-radius: 5px;
}
body::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}
body::-webkit-scrollbar-thumb:vertical:hover,
body::-webkit-scrollbar-thumb:horizontal:hover {
background-color: rgba(0,0,0,.6);
}
</style>
			</footer>
	</body>
</html>
