<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" 
      type="image/png" 
      href="/page/odysseySmall1.png" style>
    <title>Odyssey'15 | The Team</title>
	<link rel="stylesheet" href="/team-page/Css/style.css">
	<script src="/team-page/js/jquery.js"></script>
	<script src="/team-page/js/snap.svg-min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
</head>
    <div class="container">
		<header>
			<h1>Our Team</h1>
		</header>
		<section>
			<ul id="ct-grid" class="ct-grid clearfix">
				<div>
					<li class="slide1">
						<ul>
							<li class="flaticon-open131"></li>
							<li>Organising Committee</li>
						</ul>
						<div class="expand">
							<span class="close">close</span>
							<section id="grid">
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/deepanshu1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Deepanshu Gupta</h2>
											<p>Convener</p>
											<p>+91-9953400300</p>

										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/109348337966447803524/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/deepanshu.gupta.908?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/shubham1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Shubham Agrawal</h2>
											<p>Treasurer</p>
											<p>+91-8826165365</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/103628773710511967731/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/shubham.agrawal.5">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/avikal2.jpg" /> <svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Avikal Kohli</h2>
											<p>Sponsorship Head</p>
											<p>+91-8800661340</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/110922815454805315850/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/avikal.kohli?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/prateek.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Prateek Singh</h2>
											<p>Publicity Head</p>
											<p>+91-8447305508</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/107174715004525362782/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/profile.php?id=770894951&fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/srishti.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Srishti Sengupta</h2>
											<p>Design Head</p>
											<p>+91-9555354477</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/106487406313371108516/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/srishti.sengupta.18">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/deepali1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Deepali Kishnani</h2>
											<p>Hospitality and Public Relations</p>
											<p>+91-7838906158</p>
										</figcaption>
										<div class="move-up">
											<a href="">
												<div class="icon-googleplus"></div>
												<!-- doesn't have google plus -->
											</a>
											<a href="https://www.facebook.com/deepali.kishnani.7?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/ishita2.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Ishita Ahlawat</h2>
											<p>Events Head</p>
											<p>+91-9999482135</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/100936494321344379529/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/ishita.ahlawat?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/mayank1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Mayank Vachher</h2>
											<p>Creative Head</p>
											<p>+91-9811082480</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/104701685774135475387/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/mvachher?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/shivangi1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Shivangi Mehra</h2>
											<p>Media Head</p>
											<p>+91-9818654903</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/111426170138467697104/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/Shivangi.Mehra21?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover fix" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/prerna1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Prerna Juneja</h2>
											<p>Public Relations</p>
											<p>+91-9968316643</p>
										</figcaption>
										<div class="move-up">
											<a href=""> <!-- doesn't have google plus  -->
												<div class="icon-googleplus"></div>
											</a>
											<a href="https://www.facebook.com/prerna.juneja.16?fref=ts">
												<div class="icon-facebook"></div>
											</a>
										</div>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/aditya.JPG" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Aditya Gupta</h2>
											<p>Advisor</p>
											<p>+91-9654505022</p>
										</figcaption>
										<div class="move-up">
											<a href="https://plus.google.com/u/0/114465164069333180113/posts">
												<div class="icon-googleplus"></div>
											</a>
											<a href="">
												<div class="icon-facebook"></div>
												<!-- doesn't have facebook -->
											</a>
										</div>
									</figure>
								</div>

							</section>





						</div>
					</li>
				</div>
				<div>
					<li class="slide2">
						<ul>
							<li class="flaticon-cup29"></li>
							<li>Pixelate.</li>
						</ul>
						<div class="expand">
							<span class="close">close</span>
							<section id="grid">
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/naman.jpg" /><a href="https://www.github.com/namchester" class="gitLink"><img  src="/team-page/fonts/gitS.png"></img></a><a href="https://bitbucket.org/namchester" class="bitBucket fa fa-bitbucket fa-2x"></a>
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Naman Gupta</h2>
											<p>WebDev Pro</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/atul.jpg" /><a href="https://www.github.com/atul10595" class="gitLink"><img  src="/team-page/fonts/gitS.png"></img></a><a href="https://bitbucket.org/atul_jain" class="bitBucket fa fa-bitbucket fa-2x"></a>
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Atul Jain</h2>
											<p>WebDev Pro</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/karan.jpg" /><a href="https://www.github.com/barsiwal" class="gitLink"><img  src="/team-page/fonts/gitS.png"></img></a>
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Karan Barsiwal</h2>
											<p>WebDev Pro</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/kartik.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Kartik Gupta</h2>
											<p>Graphic Design</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/madhav.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Madhav Varma</h2>
											<p>Graphic Design</p>
										</figcaption>
									</figure>
								</div>

								

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Jalaj Pandey</h2>
											<p>Video Head</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/akshat.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Akshat Sinha</h2>
											<p>Video Editor</p>
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Sahar</h2>
											<p>Video Editor</p>
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/paarth1.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Paarth Arora</h2>
											<p>Video Editor</p>
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Gursimran Singh</h2>
											<p>Animator</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Mandeep Singh</h2>
											<p>Animator</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Deepak Wali</h2>
											<p>Mascot and Comics</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/anwesh2.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Anwesh Sahoo</h2>
											<p>Mascot and Comics</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Paurush Rathi</h2>
											<p>Mascot and Comics</p>
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Himanshu Pahadia</h2>
											<p>Mascot and Comics</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Nitin</h2>
											<p>Mascot and Comics</p>
										</figcaption>
									</figure>
								</div>																

							</section>
						</div>
					</li>
					<li class="slide3">
						<ul>
							<li class="flaticon-handshake1"></li>
							<li>Sponsorship Team</li>
						</ul>
						<div class="expand">
							<span class="close">close</span>
							<section id="grid">
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Tarun Verma</h2>
											
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Pavani Tripathi</h2>
								
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Kunal Sharma</h2>
											
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Utkarsh Singh</h2>
											
										</figcaption>
									</figure>
								</div>

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Paurush Rathi</h2>
											
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Dhruv Pargai</h2>
											
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Anant Jain</h2>
											
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Ojaswi Singh Randhawa</h2>
											
										</figcaption>
									</figure>
								</div>	

								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Prachi Singh</h2>
											
										</figcaption>
									</figure>
								</div>																																				

							</section>
						</div>
					</li>
				</div>
				<div>
					<li class="slide4">
						<ul>
							<li class="flaticon-multiple25"></li>
							<li>Publicity Team</li>
						</ul>
						<div class="expand">
							<span class="close">close</span>
							<section id="grid">
								<p>Team Members will be updated shortly</p>
							</section>
						</div>
					</li>
					<li class="slide5">
						<ul>
							<li class="icon-copy"></li>
							<li>Category Heads</li>
						</ul>
						<div class="expand">
							<span class="close">close</span>
							<section id="grid">
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Avi Kathpalia</h2>
											<p>Digital Arts</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Ananaya Gupta</h2>
											<p>Fine Arts</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Prateekshit Pandey</h2>
											<p>Theatre</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Khushboo Mandal</h2>
											<p>Dance</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Naresh Madhav</h2>
											<p>Music</p>
										</figcaption>
									</figure>
								</div>
								<div class="hover fix" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Bhavna Nagpal</h2>
											<p>Lifestyle</p>
										</figcaption>
									</figure>
								</div>

								<div class="hover fix" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
									<figure>
										<img src="/team-page/Image/temp.jpg" />
										<svg viewBox="0 0 180 320" preserveAspectRatio="none">
											<path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
										</svg>
										<figcaption>
											<h2>Rohit Chandra</h2>
											<p>Literary and Spoken Arts</p>
										</figcaption>
									</figure>
								</div>

							</section>
						</div>
					</li>
				</div>
			</ul>
		</section>
		<footer>
			<p>
				&copy;Odyssey 2015
			</p>
		</footer>


	</div>


<body>
	<% include partials/teamBodyHeader.ejs %>
		<script src="/team-page/js/script.js"></script>
    <script>
    var $clickCount=0;
    var $left=-6500;
$('.categoryMenuItem').on('click', function(){
   
        
    
    
    if($clickCount==0){
        $('.dropdown').animate({
            left:"0px",
            
    },300);
        $left*=(-1);
        $clickCount=1;
    }
    else{
        $clickCount=0;
          $('.dropdown').animate({
        left:""+$left+"px",     
    },300);
    }
});
</script>
</body>

</html>
