<!--<div id="footer" style="display: block;">
    <div class="footer_content_wrapper">
        <div class="content">
            <ul class="socialSmall">
                <li><a href="https://twitter.com/IIITDOdyssey" title="Twitter" class="twitter">Twitter</a>
                </li>
                <li><a href="http://www.facebook.com/odyssey.iiitd" title="Facebook" class="facebook">Facebook</a>
                </li>
                <li><a href="https://plus.google.com/u/1/104513383791254663029" title="Google+" class="googleplus">Google+</a>
                </li>
            </ul>

            <div class="logo">
                <a class="navigateTo" href="http://www.iiitd.ac.in" title="IIITD">
                    <img src="/images/style1invertedgreyscalesmall.png" alt="IIITD" target="_blank">
                </a>
            </div>
            <p class="copyright">©2014. Some Rights Reserved.</p>
            <p style="margin-right:-1em">Pixelate.</p>

        </div>
    </div>
</div>-->

	<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="https://twitter.com/IIITDOdyssey" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://www.facebook.com/odyssey.iiitd/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://plus.google.com/u/1/104513383791254663029" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="http://instagram.com/iiitdodyssey/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:odyssey@iiitd.ac.in" class="icon fa-paper-plane"><span class="label">Mail</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu" style="color:white !important;">
						<li>&copy; <a href="http://iiitd.ac.in" style="text-decoration:none;">IIIT Delhi</a> &nbsp;&nbsp;| Designed with <a href="#" style="text-decoration:none;">&hearts;</a> by Pixelate</li><li><a href="team" style="text-decoration:none;">Our Team</a></li>
					</ul>
			
			</footer>