<footer id="footer" >

				<!-- Icons -->
					<ul class="actions">
						<li><a href="https://twitter.com/IIITDOdyssey" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://www.facebook.com/odyssey.iiitd/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://plus.google.com/u/1/104513383791254663029" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="http://instagram.com/iiitdodyssey/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:odyssey@iiitd.ac.in" class="icon fa-paper-plane"><span class="label">Mail</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
                        <li style="color:rgba(185,186,187,1.0) !important;">&copy; <a href="http://iiitd.ac.in" style="text-decoration:none;color:rgba(185,186,187,1.0);">IIIT Delhi</a> &nbsp;&nbsp;| Designed with <a  style="text-decoration:none;color:rgba(185,186,187,1.0) !important;">&hearts; by Pixelate</a></li><li><a href="team" style="text-decoration:none;">Our Team</a></li>
					</ul>
			<style>
        #footer * {color:rgba(165,166,167,0.8) !important;}
    </style>
			</footer>